@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 110vh;
    background-color: rgb(247, 247, 247);
}

.title {
    font-size: 2rem;
    text-align: center;
}

.outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: column;
    width: 22rem;
    height: 23rem;
    background-color: rgb(12, 14, 151);
    padding-bottom: 1rem;
    border-radius: 5px;
}

.container-header {
    background-color: rgb(30, 32, 34);
    text-align: center;
    color: rgb(252, 239, 239);
    padding: .5rem 1rem;
    border-radius: 5px;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.container-content {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100%;
    padding: .5rem .5rem;

}

.container-task {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    gap: .5rem;
    padding: 0 .6rem;
    max-width: 100%;
    min-height: 2.5rem;
    background-color: aliceblue;
    margin-top: .7rem;
    color: rgb(45, 10, 78);
    border-radius: 2px;
    cursor: pointer;
    transition-duration: .3s;
    font-weight: 500;
    font-size: .9rem;
    text-align: left;
}

.container-task:hover {
    transform: scale(1.02);
}

.no_ongoing_task {
    color: aliceblue;
    font-weight: 700;
    text-align: center;
    margin-top: 35%;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48;
    cursor: pointer;
}

.user {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.user .welcome {
    font-size: 1.25rem;
    font-weight: 500;
}

#delete_icon {
    display: none;
    position: absolute;
    right: 0;
}

#delete_icon:hover {
    color: rgb(146, 8, 8);
}

/* #draggable_icon{
    width: .5rem;
} */
.user .auth {
    cursor: pointer;
}

.user .auth:hover {
    text-decoration: underline;
}

.container-header .input_field {
    display: none;
    top: -4rem;
    right: 5px;
    position: absolute;
    transition: all ease-in-out;
    transition-duration: .3s;
    transition-property: all;
}

.container-header .input_field .current_task {
    width: 20rem;
    height: 3rem;
    border: 3px solid grey;
    font-size: 1.25rem;
    padding-left: 1rem;
}

.container-header .input_field .current_task:focus {
    border: 5px solid blue;
}

.dragging {
    opacity: 0.5;
    border: 1px solid green;
}


.no_task {
    /* display: none; */
    color: white;
    text-align: center;
    margin-top: 40%;
}


@media only screen and (max-width: 800px) {
    body {
        height: max-content;
    }
}